html { 
  background: url(img/Bechtel_tacoma-narows-home-1800x1200.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	border: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 25px;
	/*padding x=8 px aliniere de sus in jos distanta intre marginea de sus si home
	          y=0 distanta intre home si marginea din dreapta
			  z=8px distanta intre home si despre noi in meniu
			  w= 25px distanta intre home si marginea din dreapta
	*/		  
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}