<!DOCTYPE html>
<html>
  <head>
      <title>Victor Cons-Instal</title>
      <meta charset="utf-8">
	  <LINK href="stylesheet.css" rel="stylesheet" type="text/css">
  <head/>
  <body>

        <img src ="img/_Victor Construct-Instal_Logo.jpg"  width = "200px" />
    <p align="right">
        <b><a href="PAGINA ENGLEZA NEFACUTA.html"  style=" font-size:small;color:rgb(102, 0, 51); font-family: arial">ro/eng</a><b/>
    <p/>
	   <ul>
	     <li><a href="index.html">Home</a></li>
		 <li><a href="1despre_noi.html">Despre noi</a></li>
		 <li><a href="2proiectele_noastre.html">Proiectele noastre</a></li>
		 <li><a href="3amenajari_interioare.html">Amenajari interioare</a></li>
		 <li><a href="4amenajari_exterioare.html">Amenajari exterioare</a></li>
		 <li><a href="5constructii.html">Constructii</a></li>
		 <li><a href="6instalatii.html">|Instalatii</a></li>
		 <li><a href="7amenajari_exterioare.html">Amenajari exterioare</a></li>
		 <li><a href="8sfaturi_pentru_clienti.html">Sfaturi pentru clienti</a></li>
		 <li><a href="9contact.html">Contact</a></li>
	   </ul>	
<body/>

<html/>
